<% @records.each do |record| %>
    <tr>
      <td><%= l record.time, format: :short %></td>
      <td>
        <%= link_to t('helpers.links.edit'),
                    edit_record_path(record), :class => 'btn btn-primary' %>
        <%= link_to t('helpers.links.destroy'),
                    record,
                    method: :delete,
                    :data => {:confirm => t('helpers.links.confirm')},
                    :class => 'btn btn-danger' %>
      </td>
    </tr>
<% end %>