<p id="total-worked-hours" class="lead col-lg-12 text-right" data-event-id="<%= widget_id %>" data-event-url="<%= url_for_event(:total_worked_hours) %>">
  Total trabalhado <%= l @total, format: :minimal %>
</p>