<div class="page-header">
	<h1>Sobre o Controle de Ponto</h1>
</div>

<% if user_signed_in? %>
	<div class="span8">
<% else %>
	<div class="span11">
<% end %>
  <p class="lead">O Controle de Ponto foi criado combinando o útil ao agradável.</p>
  <p class="lead">Após passar um período controlando as horas em uma planilha de Excel, decidi criar uma aplicação que fosse fácil e agradável de utilizar. Desenvolvido com Ruby on Rails e MongoDB.</p>  
</div>