<div class="page-header">
	<h1>Sobre o Controle de Ponto</h1>
</div>
<div class="span11">
  <p class="lead">O Controle de Ponto foi criado combinando o útil ao agradável.</p>
  <p class="lead">Após passar um período controlando as horas em uma planilha de Excel, decidi criar uma aplicação que fosse fácil e agradável de utilizar. Desenvolvido com Ruby on Rails e MongoDB, foi intensamente testado por um perito em acessibilidade, que deu seu selo de garantia.</p>
  <p class="text-center"><%= image_tag  'selo.jpg',  alt: 'Selo de Acessibilidade', title: 'Selo de Acessibilidade' %></p>
</div>