<div class="page-header">
	<h1>Histórico das mudanças</h1>
</div>

<% if user_signed_in? %>
	<div class="span8">
<% else %>
	<div class="span11">
<% end %>
  <h3>02/05/2013.</h3>
  <p>Adicionada funcionalidade de considerar o dia ou não. Basta inserir apenas um registro com a opção desmarcada para que o dia inteiro seja desconsiderado na soma de horas trabalhadas. Útil para feriados.</p>
</div>