<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>

  <div class="col-lg-12">
    <div id="gauge" class="col-lg-3" style="height: 200px;"></div>
  </div>

  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->