<div class="page-header">
  <h1>Controle pessoal de ponto</h1>  
</div>
<p class="lead">Cansado de controlar suas horas no Excel ?</p>
<p class="lead">Seus problemas acabaram !</p>
<p class="lead">Controle suas horas em um site amigável e fácil de utilizar.</p>
<h2>Siga os passos para começar a utilizar</h2>
<div class="span3">
  <div class="well sidebar-nav">
    <h3 class="text-center">Passo 1</h3>
    <p class="lead text-center"><%= link_to 'Cadastre-se', new_user_session_path %> </p>
  </div>
</div>
<div class="span4">
  <div class="well sidebar-nav">
    <h3 class="text-center">Passo 2</h3>
    <p class="lead text-center">Registre suas horas</p>
  </div>
</div>
<div class="span4">
  <div class="well sidebar-nav">
    <h3 class="text-center">Passo 3</h3>
    <p class="lead text-center">Visualize os relatórios</p>
  </div>
</div>