<% if violations[:overtime] %>
<a class="balance-info" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Você ultrapassou o limite de 2 horas extras diárias." title="Art. 49 CLT">
  <i class="ace-icon fa fa-exclamation-triangle orange bigger-120"></i>
</a>
<% end %>

<% if violations[:straight_hours] %>
<a class="balance-info" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Você trabalhou mais que 6 horas consecutivas sem um período de descanso." title="Art. 71 CLT">
  <i class="ace-icon fa fa-exclamation-triangle orange bigger-120"></i>
</a>
<% end %>
