@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

//colors
$concrete: #f2f2f2;
$color_fuscous_gray_approx: #555;
$color_mine_shaft_approx: #333;
$color_shamrock_approx: #3bc492;
$color_flush_mahogany_approx: #c0392b;
$color_celeste_approx: #ccc;
$color_pickled_bluewood_approx: #34495e;
$white: white;
$color_submarine_approx: #bdc3c7;
$color_log_cabin_approx: #222222;

//fonts
$font_0: Lato;
$font_1: Raleway;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
	font-family: $font_1;
	font-weight: 300;
	color: $color_mine_shaft_approx;
}

//original selectors
//a:hover, a:focus
%extend_2 {
	color: $color_flush_mahogany_approx;
	text-decoration: none;
	outline: 0;
}


body {
	background-color: $concrete;
	font-family: $font_0;
	font-weight: 300;
	font-size: 16px;
	color: $color_fuscous_gray_approx;
	padding-top: 50px;
}
h1 {
	@extend %extend_1;
}
h2 {
	@extend %extend_1;
}
h3 {
	@extend %extend_1;
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
p {
	line-height: 28px;
	margin-bottom: 25px;
}
.centered {
	text-align: center;
}
a {
	color: $color_shamrock_approx;
	word-wrap: break-word;
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: color 0.1s ease-in, background 0.1s ease-in;
	&:hover {
		@extend %extend_2;
	}
	&:focus {
		@extend %extend_2;
	}
	&:before {
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: color 0.1s ease-in, background 0.1s ease-in;
	}
	&:after {
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: color 0.1s ease-in, background 0.1s ease-in;
	}
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $color_celeste_approx;
	margin: 1em 0;
	padding: 0;
}
#headerwrap {
	background-color: $color_pickled_bluewood_approx;
	padding-top: 60px;
	h1 {
		margin-top: 30px;
		color: $white;
		font-size: 70px;
	}
	h3 {
		color: $white;
		font-size: 30px;
	}
	h5 {
		color: $white;
		font-weight: 700;
		text-align: left;
	}
	p {
		text-align: left;
		color: $white;
	}
}
#intro {
	padding-top: 50px;
	border-top: $color_submarine_approx solid 5px;
}
#features {
	padding-top: 50px;
	padding-bottom: 50px;
	.ac a {
		font-size: 20px;

	}

	p {
		margin: 0;
	}

}
#showcase {
	display: block;
	background-color: $color_pickled_bluewood_approx;
	padding-top: 50px;
	padding-bottom: 50px;
	h1 {
		color: $white;
	}

	.carousel-indicators {
    bottom: -40px;
  }

}
#footerwrap {
	background-color: $color_mine_shaft_approx;
	color: $white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
	h3 {
		font-size: 28px;
		color: $white;
	}
	p {
		color: $white;
	}
}
#c {
	background: $color_log_cabin_approx;
	padding-top: 15px;
	text-align: right;
	p {
		color: $white;
	}
}

.navbar-nav > li > a.btn-cadastro-menu {
	color: #FFF;
	background-color: #428BCA;
	border-color: #357EBD;
  display: inline-block;
	margin-bottom: 0px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.42857;
	border-radius: 4px;

  &:focus, &:hover {
    color: #FFF;
		background-color: #3071A9;
		border-color: #285E8E;
  }
}

.btn-cadastro-large { font-size: 3em; }
