@import "bootstrap-sprockets";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/grid";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/alerts";
@import "bootstrap/close";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "font-awesome";
@import "animate.min";
@import "templatemo-style";
