.nested-fields{ display: inline-block}
.table-list-records {
  margin-top: 10px;

  .time-p { margin: 10px 0 0 0; }
}

.white-back-to-login-link, .white-back-to-login-link:focus, .white-back-to-login-link:hover { color: #FE9; font-size: 15px; font-weight: 400;  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.25); }
.daterangepicker .calendar { display: none;  max-width: 270px; }
.help-block.text-danger {color: #a94442 !important;}
.infobox > .infobox-data { top: 5px; }
.infobox > .infobox-progress { width: 60px; }
.infobox { height: 80px; }

#sidebar .infobox { width: 190px; }
#sidebar .infobox > .infobox-data { min-width: 80px; }
.navbar-footer {  }

.departure-info, .balance-info { cursor: pointer; }
.popover.right { width: 200px; }
.balance-sum { font-size: 18px;  font-weight: 400; height: auto; margin-top: 0; }
