.nested-fields{ display: inline-block}
.table-list-records .time-p { margin: 10px 0 0 0; }
.white-back-to-login-link, .white-back-to-login-link:focus, .white-back-to-login-link:hover { color: #FE9; font-size: 15px; font-weight: 400;  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.25); }
