<p>Bem-vindo <%= @email %>!</p>

<p>Você pode confirmar sua conta através do link abaixo:</p>

<p><%= link_to 'Confirmar minha Conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
