<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou um link para mudar sua senha. Você pode fazer isto no link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não requisitou isto, por favor desconsidere este email.</p>
<p>Sua senha não sera alterada até que você acesse o link acima e crie uma nova.</p>
