<div id="sidebar" class="sidebar responsive" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
	<ul class="nav nav-list" style="top: 0px;">
		<li class="">
			<a href="#">
				<i class="menu-icon fa fa-tachometer"></i>
				<span class="menu-text"> Dashboard </span>
			</a>

			<b class="arrow"></b>
		</li>

		<li class="active open">
			<a href="form-elements.html#" class="dropdown-toggle">
				<i class="menu-icon fa fa-list"></i>
				<span class="menu-text"> Registros </span>

				<b class="arrow fa fa-angle-down"></b>
			</a>

			<b class="arrow"></b>

			<ul class="submenu">
				<li class="<%= 'active' if current_page?(day_records_path) || current_page?(authenticated_root_path) %>">
          <%= link_to day_records_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            Relatório
          <% end %>

					<b class="arrow"></b>
				</li>

				<li class="<%= 'active' if current_page?(new_day_record_path) %>">
          <%= link_to new_day_record_path do %>
            <i class="menu-icon fa fa-caret-right"></i>
            Novo Registro
          <% end %>

					<b class="arrow"></b>
				</li>
			</ul>
		</li>

	</ul><!-- /.nav-list -->
</div>
