<!DOCTYPE html>
<html class="login_page">
<head>
  <title>ControleDePonto</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="login_box">
    <%= yield %>
  </div>
</body>
</html>
